<!DOCTYPE html>
<html lang="fr" ng-app="agrevidApp">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Agrévid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="stylesheets/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.20/angular-ui-router.js"></script>
    <script src="javascripts/app.js"></script>

</head>


<body>

<!-- Menu navigation boutons + Routing AngularJS  -->


<div class="btn-group">
    <button type="button" class="btn btn-lg button-accueil" ui-sref="accueil" ui-sref-active="active" ng-click="on = false">
        Accueil
    </button>
    <button type="button" class="btn btn-lg button-accueil" ui-sref="administration" ui-sref-active="active" ng-click="on = true">
        Administration
    </button>
</div>


<br/>


<div ng-hide="on">
<i class="logo center">
    AgréVid
</i>
</div>

<ui-view></ui-view>


</body>

</html>